<?xml version='1.0' encoding='utf-8'?>
<widget id="com.legitmusic.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Legit Music</name>
    <description>
        A PhoneGap app.
    </description>
    <author email="darren.hill@altern8.solutions">
        Darren Hill
    </author>
    <content src="index.html" />
    <platform name="ios">
        <icon platform="ios" src="www/res/icon/ios/icon.png" />
        <!-- iPhone 6 / 6+ -->
        <icon src="www/res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />

        <!-- iPhone / iPod Touch  -->
        <icon src="www/res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
        <icon src="www/res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

        <!-- iPad -->
        <icon src="www/res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
        <icon src="www/res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
        <icon src="www/res/icon/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />

        <!-- Settings Icon -->
        <icon src="www/res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
        <icon src="www/res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
        <icon src="www/res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />
	</platform>
    <access origin="*" />
</widget>
