<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BootVueTest</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, viewport-fit=cover">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container" id="contract" style="background-color: rgba(255,255,255,0.4);padding: 12px;">
        <h3 class="d-flex">Contract</h3><a class="btn btn-primary btn-block" role="button" href="dashboard.html">Home</a>
        <div class="card" style="margin-top: 12px;">
            <div class="card-header">
                <h5 class="mb-0">Split Sheet Contract for {{ songtitle }}</h5>
            </div>
            <div class="card-body">
                <p class="text-right">{{ date }}</p>
                <p class="card-text">This is to confirm that we, the sole writers of the composition listed below, hereby agree among ourselves to the following writers’ divisions:</p>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 text-monospace" v-for="(writer, index) in writers">
                        <h6 class="text-primary">{{writer.name}}</h6>
                        <ul>
                            <li>{{ writer.splits.performance}}% Performance</li>
                            <li>{{ writer.splits.mechanical}}% Mechanical</li>
                        </ul>
                        <p class="text-success"></p>
                        <p class="text-secondary"></p>
                    </div>
                </div>
                <p>The master recording (royalty rate / neighbourg right) is split as follows:</p>
                <div class="row d-flex justify-content-center">
                    <div class="col-10 text-monospace" v-for="(writer, index) in writers">
                        <h6 class="text-primary">{{writer.name}}</h6>
                        <ul>
                            <li>{{ writer.splits.master}}%</li>
                        </ul>
                        <p class="text-success"></p>
                        <p class="text-secondary"></p>
                    </div>
                </div>
                <p>Signatures:</p>
                <div class="col-10 text-monospace" v-for="(writer, index) in writers">
                    <h6 class="text-primary">{{writer.name}}</h6>
                    <div class="shadow-sm" style="min-height: 24px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>