<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BootVueTest</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, viewport-fit=cover">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body style="background-size: cover;background-repeat: no-repeat;background-color: #eeeeee;">
    <div class="container" id="splits" style="height: 100vh;background-color: rgba(255,255,255,0.4);min-width: 100vw;">
        <div class="row">
            <div class="col" style="padding-top: 12px;">
                <div class="btn-toolbar">
                    <div class="btn-group border rounded" role="group"><a class="btn btn-primary" role="button" href="dashboard.html">Home</a></div>
                </div>
                <form class="container">
                    <div class="form-group" style="padding: 20px;" v-if="steps == 1"><input class="border-success form-control" type="text" placeholder="What is the song title?" v-model="contract.songtitle" v-on:keydown.enter.prevent="" style="background-color: transparent;"></div>
                    <div class="form-group" style="padding: 20px;"
                        v-if="steps == 2"><input class="border-success form-control" type="number" placeholder="How many songwriters?" v-model="contract.totalWriters" v-on:enter.prevent="" style="background-color: transparent;"></div>
                    <div class="form-group" v-for="(writer, index) in contract.writers"><label>Writer - {{&nbsp;writer.uid }}</label><input class="border-success form-control" type="text" placeholder="Full Name" v-model="writer.name" style="background-color: transparent;"><input class="border-success form-control" type="number"
                            placeholder="Performance Split" style="margin-top: 6px;background-color: transparent;" v-model="writer.splits.performance"><input class="border-secondary form-control" type="number" placeholder="Mechanical Split" style="margin-top: 6px;background-color: transparent;"
                            v-model="writer.splits.mechanical"><input class="border-secondary form-control" type="number" placeholder="Recording Split" style="margin-top: 6px;background-color: transparent;" v-model="writer.splits.master"></div>
                    <div class="form-group text-center"
                        style="padding: 20px;"><button class="btn btn-primary" type="button" style="margin-top: 8px;margin-right: 4px;" v-if="steps > 1 &amp;&amp; steps !== totalsteps &amp;&amp; steps !== 3" v-on:click="prevStep()">Previous</button><button class="btn btn-primary"
                            type="button" style="margin-top: 8px;margin-right: 4px;" v-if="contract.songtitle.length > 0 &amp;&amp; steps < totalsteps &amp;&amp; steps !== 3" v-on:click="nextStep()">Next</button><a class="btn btn-primary" role="button" style="margin-top: 8px;margin-right: 4px;"
                            v-if="steps === 3" v-on:click="createContract" href="contract.html">Submit</a></div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>